* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #8c00ff17;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.200);
}

.container.start .user-result {
    animation: userShake 0.5s ease infinite;
}

@keyframes userShake {
    50% {
        transform: translateY(30px) rotate(110deg);
    }
}

.container.start .cpu-result {
    animation: cpuShake 0.5s ease infinite;
}

@keyframes cpuShake {
    50% {
        transform: translateY(30px) rotate(-110deg) rotateY(180deg);
    }
}

.result-field {
    text-align: center;
    color: #8d02ff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.result-img {
    display: flex;
    column-gap: 8rem;
    margin-bottom: 20px;
}

.result-img img {
    width: 100px;
}

.user-result {
    transform: rotate(90deg);
}

.cpu-result {
    transform: rotate(-90deg) rotateY(180deg);
}

.container.start .option-img {
    pointer-events: none;
}

.option-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.opt-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
    color: #8d02ff;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.opt-img:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

.opt-img img {
    width: 50px;

}
